* {
  margin: 0;
  padding: 0;
  background: #272822 !important;
  /* box-shadow: 0px 0px 5px white inset; */
}

/* body {
   overflow-x: hidden;  // Force stop horizontal scrolling
}  */

/* --------------------------- GRID LAYOUT FRMAE --------------------------- */

.container {
  display: grid;
  grid-template-columns: 0.6fr 0.4fr;
  grid-template-rows: 0.2fr 1.3fr;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    'left right'
    'left right';

  height: min-content;
  box-shadow: 0 -1px #3f6281 inset;
}

.left {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 18vh;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    'head'
    'body';
  grid-area: left;
}

.head {
  grid-area: head;
  display: grid;
  place-items: center;
  box-shadow: 0 -1px #ffffff inset;
  color: #f0f0f0;
}

.body {
  grid-area: body;
  color: #f0f0f0;
  padding-left: 25px;
}

.right {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 18vh;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    'prjects-head'
    'grid-projects';
  grid-area: right;
  height: 100%;
}

.project-head {
  grid-area: prjects-head;
  display: grid;
  place-items: center;
  /* background: linear-gradient(-70deg, #28547e, #1965ac, #375280); */
  background: #36342d !important;
  background-size: 100vw 100vh;
  animation: gradient 15s ease infinite;
  /* animation: gradient 5s ease infinite; */
  height: 100%;
}

.grid-projects {
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;

  grid-auto-flow: row;
  grid-template-areas:
    '. .'
    '. .'
    '. .';
  /* grid-area: grid-projects; */
  background: #36342d !important;
  /* background: linear-gradient(-45deg, #272822, snow); */
  background-size: 100vw 100vh;
  animation: gradient 15s ease infinite;
  /* animation: gradient 5s ease infinite; */
  height: 100vh;
}

/* ------------------------------------------------------------------------ */

/* ---------------------------- ELEMENTS - LEFT --------------------------- */

/* ----------------------------- Head Section ----------------------------- */
/* Left - Head */
.head-content {
  padding: 5px;
  padding-left: 40px;
  width: 54vw;
  height: 61%;
  display: flex;
  justify-content: space-between;
}

.head-left {
  box-shadow: -1px 0px whitesmoke;
  font-size: 100%;
  padding-left: 7px;
}

#name {
  display: inline-block;
  font-size: 27px;
  font-weight: 800;
  margin-bottom: 3px;
}

#job,
#degree {
  margin-bottom: 2px;
  letter-spacing: 1px;
}

.head-right {
  text-align: end;
  font-size: 100%;
  align-self: flex-end;
}
.right-con {
  margin-top: 2px;
}
#email {
  margin-bottom: 2px;
}
.git-link {
  font-size: 100%;
  color: whitesmoke;
  letter-spacing: 1px;
}

/* ------------------------------------------------------------------------ */

/* ----------------------------- Body Section ----------------------------- */

.about-wrapper,
.skills-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.about,
.skills {
  width: 90%;
  padding: 5px;
  margin-top: 30px;
  margin-bottom: 30px;
  height: min-content;
  display: flex;
  flex-direction: column;
}

#about-text,
#skills-text {
  color: #e8c166;
  width: min-content;
  font-size: 120%;
  font-weight: 200;
  letter-spacing: 2px;
  font-family: 'IBM Plex Sans', sans-serif;
  box-shadow: 0px 1px #e7c066;
}

#about-para {
  margin-top: 30px;
  font-size: 110%;
  font-weight: 10000;
  font-family: 'Play', sans-serif;
  line-height: 1.8rem;
  text-align: justify;
}

/* -------------------------- Flex-3 items per row -------------------------- */
/* 
.parent {
  display: flex;
  flex-wrap: wrap;
}

.child {
  flex: 1 0 33%;  // flex shorthand
  margin: 5px;
  background-color: blue;
}
*/
.skills-con {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
}

.skill {
  width: 30%;
  margin: 10px;
  height: 8vh;
  border-radius: 10px;
  display: grid;
  place-items: center;
  font-family: 'Play', sans-serif;
  font-size: 130%;
  letter-spacing: 1px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.671);
  /* background: linear-gradient(-45deg, #272822, snow); */
  background-size: 100vw 100vh;
  animation: gradient 5s ease infinite;
  /* animation: gradient 5s ease infinite; */
}
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */

/* ---------------------------------- RIGHT --------------------------------- */
/* Right - Head */
#project-text {
  padding-bottom: 5px;
  border-bottom: 1px solid #e8c166;
  color: #e8c166;
  background: #36342d !important;
  font-size: 180%;
  font-weight: 600;
  letter-spacing: 2px;
  font-family: 'IBM Plex Sans', sans-serif;
}

.project-wrapper {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.479);
  border-radius: 20px;
  width: 230px;
  height: 200px;
  margin: 15px;
  display: grid;
  place-items: center;
  font-family: 'Play', sans-serif;
}

.project {
  display: grid;
  place-items: center;
  position: relative;
  top: 10px;
}

.project-name {
  text-align: center;
  color: whitesmoke;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 120%;
  font-weight: 300;
}
.link-btn {
  width: 100px;
  height: 40px;
  margin-top: 15px;
  border-radius: 4px;
  color: rgb(255, 255, 255);
  border: 0;
  background: #36342d !important;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.575);
}

.link-btn:hover {
  cursor: pointer;
}

.github-link {
  display: none;
}
/* -------------------------------------------------------------------------- */

/* --------------------------------- FOOTER --------------------------------- */

.footer {
  width: 100%;
  height: 150px;
  display: grid;
  place-items: center;
  box-shadow: 0 0 5px black inset;
  font-size: 0;
}

.foot-text {
  font-family: 'Courier New', Courier, monospace;
  font-size: 30px;
  color: #ffffff;
  font-weight: 100;
  text-align: center;
  padding-bottom: 20px;
}

.icon {
  width: 50px;
  height: 50px;
  margin: 0 20px 0 20px;
  background: whitesmoke !important;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.24);
}
.credit {
  padding: 10px;
  letter-spacing: 1px;
  text-align: center;
  font-weight: 500;
  color: #ffffff;
}
